@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
    background-color: gray;    
}

.bg {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: red;
    background-image: url(img/ivan.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: 5px solid blue;
    border-radius: 30px;
}