@charset "utf-8";

/* Classes especificas para nosso site */

header.topo-site {
    padding: 20px 0;
}

.logo {
    font-size: 22px;
    font-family: Verdana;
}

header.topo-site ul li {
    position: relative;
    top: 8px;
    padding: 0 20px;
    font-size: 20px;
    display: inline-block;
}

header.topo-site a {
    text-decoration: none;
}

.slider {
    min-height: 600px;
}

.slider P{
    position: relative;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border-bottom: 4px solid white;
    color: white;
}

.promo {
    padding: 40px 0;
}


