@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    border: 100%;
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
    font-size: auto;
    font-weight:bolder;
    color: blue;
    background-color: #ccc;
    padding: 20px;
}

div.box {
    margin: 20px 20px;
}
.box h2 {
    color: green;
    font-size: 24px;
}
.box p {
    color: rgb(130,130,130);
    font-size: 17px;
    font-style: italic;
}

div.box2 {
    margin: 20px 20px;
}
.box2 h2 {
    color: orange;
    font-size: 24px;
}
.box2 p {
    color: rgb(130,130,130);
    font-size: 17px;
    font-style: italic;
}
    
