@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

.header h1 {
    text-align: center;
    font-size: auto;
    font-weight:bolder;
    color: blue;
    background-color: #bbb;
    padding: 20px;
}

main {
    /* flex-direction: row-reverse; */
    display: flex;
    margin-top: 10px;
}

aside {
    order: 2;
    background: #ccc;
    padding: 30px;
}

article {
    order: 1;
    padding: 30px;    
    background: gray;    
}

